.App {
  text-align: center;
  margin-top: 40px;
}

.App h1 {
  font-family: "Space Mono";
  font-size: 30px;
  font-weight: 900;
}

.App h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 100;
}

.App h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.section {
  padding: 0px;
  background-color: grey;
}

.Welcome {
  display: flex;
  background-color: white;  
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
}

.Welcome .i-hov {
  color: black;
  margin: 10px;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.Welcome .i-hov:hover {
  color: #1dd1a1;
  display: inline-block;
}

.Welcome button {
  font-family: "Space Mono";
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 3px;
    padding: 5px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 10px 10px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.Welcome button:hover {
    background-color: #1dd1a1;
    border: 2px solid;
    border-color: #000000;
    color: white;
}

.Welcome h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: inline-block;
}

.down-arrow {
  background-color: grey;
}

.main-pic {
  width: 280px;
  padding: 10px;
}

.welcome-intro {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  vertical-align: middle;
  align-items: center;
}

.welcome-intro strong {
  font-weight: 900;
  color: white;
  background-color: #1dd1a1;
}

.welcome-box {
	background-color: black;
}

.Projects {
  background-color: #FFF;
  
}

.Projects h2 {
  font-size: 50px;
  font-family: "Space Mono";
  font-weight: 100;
}

.Separator {
  background-color: #FFF;
}

.About {
  background-color: #FFF;
}


.nav-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  float: right;
}

.nav-name {
  padding: 0px 45px;
  align-items: center;
}

.nav-name h1{
  font-family: "Montserrat";
  font-weight: 100;
  padding: 5px 0px;
}

.nav-link {
  margin: 0px 0px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.nav-link:hover:not(.active) {
  background-color: grey;
}

.Footer {
  background: #f5f6fa;
  color: black;
}

.Footer .i-hov {
  color: black;
  margin: 10px;
  display: inline-block;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}

.Footer .i-hov:hover {
  color: #1dd1a1;
  display: inline-block;
}

.footer-pic {
  width: 50vh;
  padding: 10px;
}
